<li>
  <b><%= nested_comment_position(comment.ancestors) %></b>
  <%= comment.created_at %>
  <%= comment.content %>
  <br>
  <%= render partial: 'form', locals: {parent_comment: comment} %>
</li>
