<% parent_comment = nil if local_assigns[:parent_comment].nil? %>

<div>
    <%= form_for([@topic, parent_comment, @comment]) do |f| %>
    <%= f.text_area :content %>
    <br>
    <%= f.submit %>
  <% end %>
</div>