<div>
  <h3>Novo Tópico</h3>

  <% if @topic.errors.any? %>
    Erros:
    <ul>
      <% @topic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <%= form_for(@topic) do |f| %>
    <%= f.text_area :content %>
    <%= f.submit %>
  <% end %>
</div>