<div>
  <h1>Tópicos</h1>
</div>

<div>
  <%= notice %>
</div>

<%= render partial: 'form' %>

<div>
  <table>
    <thead>
      <td>#</td>
      <td>Data</td>
      <td>Tópico</td>
    </thead>
    <tbody>
      <% @topics.each do |topic| %>
        <tr>
          <td><%= topic.id %></td>
          <td><%= topic.created_at %></td>
          <td><%= topic.content %></td>
          <td><%= link_to "Comment", topic_comments_path(topic) %></td>
        </tr>
      <% end  %>
    </tbody>
  </table>

  <br>

  <%= paginate @topics %>

</div>